doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Hardware Hacking for JS Developers
    meta(name='description', content='Talk at MWJS about getting started with hardware')
    meta(name='author', content='Jamison Dance')
    meta(name='apple-mobile-web-app-capable', content='no')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='reveal.min.css')
    link(rel='stylesheet', href='theme.css')
    // For syntax highlighting
    link(rel='stylesheet', href='lib/css/zenburn.css')
  body
    .reveal
      // Any section element inside of this container is displayed as a slide
      .slides
        section
          img(src='/images/1.png')
        section
          img(src='/images/2.png')
        section
          img(src='/images/3.png')
        section
          img(src='/images/artiste.png')
        section
          img(src='/images/4.png')
        section
          img(src='/images/5.png')
        section
          img(src='/images/wires.png')
        section
          img(src='/images/10.png')
        section
          img(src='/images/11.png')
        section
          img(src='/images/12.png')
        section
          img(src='/images/13.png')
        section
          img(src='/images/14.png')
        section
          img(src='/images/15.png')
        section
          img(src='/images/16.png')
        section
          img(src='/images/17.png')
        section
          img(src='/images/18.png')
        section
          img(src='/images/19.png')
        section
          img(src='/images/20.png')
        section
          img(src='/images/21.png')
        section
          img(src='/images/22.png')
        section
          img(src='/images/23.png')
        section
          img(src='/images/24.png')
        section
          img(src='/images/25.png')
        section
          img(src='/images/26.png')
        section
          img(src='/images/27.png')
        section
          img(src='/images/28.png')
        section
          img(src='/images/29.png')
        section
          img(src='/images/30.png')

  script(src='lib/js/head.min.js')
  script(src='js/reveal.js')
  script.
    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
      transition: 'none',
      progress: true,
      history: true,
    });
  script(src='/socket.io/socket.io.js')
  script(src='/js/app.js')
